<header class="header">
<nav class="nav">
  <ul class="header_menu">
    <li class="header_menu_title"><%= link_to "Spotストッカー", root_path, class: "nav-link text-white" %></li>
    <li>
      <ul class="header_menu_inner">

        <%
=begin%>
 <li><%= link_to "スポット一覧","#", class: "spot_icon"%></li>
<%
=end%>
      <% if current_user %>
        <li class="nav-link"><%= link_to(current_user.name,"/users/#{current_user.id}") %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path , class: "nav-link btn btn-outline-light", method: :delete %></li>
      <% else %>
        <li><%= link_to "アカウント作成", new_user_registration_path, class: "nav-link btn btn-outline-light"%></li>
        <li><%= link_to "ログイン", new_user_session_path, class: "nav-link login_button btn btn-light" %></li>
      <% end %>
      </ul>
    </li>
  </ul>
</nav>
</header>